.forget-password {
  margin-top: 2rem;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 0.3rem;
}

.forget-password h2 {
  text-align: center;
  font-weight: 400;
  font-size: large;
}

.forget-password p,
.forget-password label {
  font-size: small;
  color: rgb(0, 0, 0, 0.5);
}

.forget-password .error {
  color: red;
  font-size: small;
}

@media (min-width: 640px) {
  .forget-password {
    width: 50%;
    margin: 2rem auto;
  }
}
