.url-info {
  display: inline;
  padding: 1.5rem;
  background-image: linear-gradient(
    to right,
    rgb(169, 172, 175),
    rgb(236, 240, 243)
  ) !important;
  /* width: 55%; */
  width: 40%;
  height: 92%;
  /* TODO: crazy theme*/
  /* background-image: linear-gradient(to right, #c21ee7, #392fa4); */
}

.close-symbol {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  font-size: x-large;
}

.close-symbol:hover {
  cursor: pointer;
}

.url-info-mobile {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.url-info > div {
  /* width: 45%; */
  gap: 0.7rem;
}

.url-info-title {
  font-size: x-large;
  /* margin: 0.7rem 0; */
  padding: 0.3rem 0;
  font-weight: 700;
}

.date {
  padding: 0.3rem 0;
}

.date i {
  padding-right: 0.5rem;
}

.clicks {
  /* margin: 0.7rem 0; */
}

.clicks i {
  font-size: large;
  transform: translate(-40%, 50%) scaleX(-1);
}

.short-url-block {
  gap: 1rem;
}

.short-url-block a {
  text-decoration: none;
  /* font-size: large; */
  font-size: medium;
  color: #392fa4;
}

.qr-code-block {
  gap: 1rem;
  /* justify-content: space-between; */
}

.copy {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
}

.copy i {
  padding-right: 0.3rem;
}

.destination-url {
  /* width: 99%; */
  /* overflow-wrap: break-word; */
  /* width: 50%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* width: fit-content; */
  /* width: 20rem; */
  width: 80%;
  /* background-color: white; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
}

.qr-code-block div {
  justify-content: center;
  gap: 1rem;
}

.download i {
  padding-right: 0.3rem;
}

.download {
  padding: 0.4rem 0.6rem;
}
