body {
  height: 100vh;
  padding: 0;
  margin: 0;
  /* background-color: red; */
}
#root {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

#position {
  position: fixed;
  right: 1rem;
  top: 0;
  font-weight: 700;
}

.center {
  right: 50%;
}
